<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Moto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<main class="funcBody">
    <h1 th:text="${moto.id_moto == 0 ? 'Cadastrar Moto' : 'Editar Moto'}"></h1>

    <div class="card" style="width: 400px;">

        <form th:if="${moto.id_moto == 0}"
              class="form"
              th:action="@{/moto/salvar}"
              th:object="${moto}" method="post">

            <div class="field">
                <label for="modeloNovo">Modelo</label>
                <input type="text" id="modeloNovo" th:field="*{modelo}" maxlength="100" required />
            </div>

            <div class="field">
                <label for="placaNovo">Placa</label>
                <input type="text" id="placaNovo" th:field="*{placa}" maxlength="10" required />
            </div>

            <div class="field">
                <label for="chassiNovo">Chassi</label>
                <input type="text" id="chassiNovo" th:field="*{chassi}" maxlength="30" required />
            </div>

            <div class="actions" style="margin-top: 1em;">
                <button type="submit" class="btn-primary">Cadastrar</button>
                <a th:href="@{/index}" class="btn-outline">Cancelar</a>
            </div>
        </form>

        <form th:if="${moto.id_moto != 0}"
              class="form"
              th:action="@{'/moto/' + ${moto.id_moto} + '/atualizar'}"
              th:object="${moto}" method="post">


            <div class="field">
                <label for="placaEditar">Placa</label>
                <input type="text" id="placaEditar" th:field="*{placa}" maxlength="10" required />
            </div>


            <div class="actions" style="margin-top: 1em;">
                <button type="submit" class="btn-primary">Atualizar</button>
                <a th:href="@{/index}" class="btn-outline">Cancelar</a>
            </div>
        </form>

    </div>
</main>
<div th:replace="fragments/footer :: footerFragment"></div>

</body>
</html>
