<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Cadastro de Pátio</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div th:replace="fragments/header :: headerFragment"></div>

<main class="funcBody">
    <h1 th:text="${acao == 'cadastrar' ? 'Cadastrar Pátio' : 'Editar Pátio'}"></h1>

    <div class="card" style="width: 400px;">


        <form th:if="${acao == 'cadastrar'}"
              th:action="@{/patio/salvar}" th:object="${patio}" method="post" class="form">

            <div class="field">
                <label>Logradouro</label>
                <input type="text" th:field="*{logradouro}" maxlength="150" required />
            </div>

            <div class="field">
                <label>Número</label>
                <input type="number" th:field="*{numero}" required />
            </div>

            <div class="field">
                <label>CEP</label>
                <input type="text" th:field="*{cep}" maxlength="10" required />
            </div>

            <div class="field">
                <label>Complemento</label>
                <input type="text" th:field="*{complemento}" maxlength="100" />
            </div>

            <div class="field">
                <label>Cidade</label>
                <input type="text" th:field="*{cidade}" maxlength="50" required />
            </div>

            <div class="field">
                <label>UF</label>
                <input type="text" th:field="*{uf}" maxlength="2" required />
            </div>

            <div class="field">
                <label>País</label>
                <input type="text" th:field="*{pais}" maxlength="50" required />
            </div>

            <div class="actions" style="margin-top: 1em;">
                <button type="submit" class="btn-primary">Cadastrar</button>
                <a th:href="@{/patio/listar}" class="btn-outline">Cancelar</a>
            </div>
        </form>

        <form th:if="${acao == 'editar'}"
              th:action="@{'/patio/' + ${patio.idPatio} + '/atualizar'}"
              th:object="${patio}" method="post" class="form">

            <div class="field">
                <label>ID</label>
                <p th:text="${patio.idPatio}"></p>
            </div>

            <div class="field">
                <label>Logradouro</label>
                <input type="text" th:field="*{logradouro}" maxlength="150" required />
            </div>

            <div class="field">
                <label>Número</label>
                <input type="number" th:field="*{numero}" required />
            </div>

            <div class="field">
                <label>CEP</label>
                <input type="text" th:field="*{cep}" maxlength="10" required />
            </div>

            <div class="field">
                <label>Complemento</label>
                <input type="text" th:field="*{complemento}" maxlength="100" />
            </div>

            <div class="field">
                <label>Cidade</label>
                <input type="text" th:field="*{cidade}" maxlength="50" required />
            </div>

            <div class="field">
                <label>UF</label>
                <input type="text" th:field="*{uf}" maxlength="2" required />
            </div>

            <div class="field">
                <label>País</label>
                <input type="text" th:field="*{pais}" maxlength="50" required />
            </div>

            <div class="actions" style="margin-top: 1em;">
                <button type="submit" class="btn-primary">Atualizar</button>
                <a th:href="@{/patio/listar}" class="btn-outline">Cancelar</a>
            </div>
        </form>

    </div>
</main>

<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>
